body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul,
ol {
    list-style-type: none;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    /* max-width: 1158px; */
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* *------------ HEADER ----------------* */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.navigation-logo:hover,
.navigation-logo:focus {
    text-decoration: underline;
}

span {
    color: #2e2f42;
}

.navigation-menu {
    display: flex;
    gap: 40px;
    position: relative;
    color: #404bbf;
}

.navigation-item {
    padding: 24px 0;
}

.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
    /* text-decoration: underline; */
}

.current {
    position: relative;
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-menu {
    display: flex;
    gap: 40px;

}

.address-item {}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
    /* text-decoration: underline; */
}

/* *------------ MAIN --------------* */

/* ? ----------- Solutions ---------- */

.solutions {
    background-color: #2e2f42;
    padding: 188px 0;
    background: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.solutions-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solutions-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.solutions-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border-radius: 4px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover,
.solutions-btn:focus {
    background-color: #404BBF;
}

/* ? ------- Advantages ------- */

.advantages {
    padding-bottom: 120px;
    padding-top: 120px;
}

.visually-hidden {
    display: none;
}

.advantages-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.advantages-items {
    width: calc((100% - 72px) / 4);
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 8px;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.advantages-icon-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 100px;
    padding-left: 100px;
}

.advantages-icon-link {
    display: flex;
    justify-content: center;
}

.advantages-icon {}

/* ? ----------- Team -----------  */

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-menu {
    gap: 24px;
    display: flex;

}

.team-items {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-img {}

.team-name-text {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-icon-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    /* padding-bottom: 32px; */
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-icons {
    fill: #F4F4FD;
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404BBF;
}

/* ? ------------ Partfolio ------------ */

.partfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.partfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.partfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.partfolio-items {
    border: 1px solid #e7e9fc;
    width: 360px;
    height: 420px;
    background: #fff;
    width: calc((100% - 48px) / 3);
    border-top: none;
    margin-bottom: 8px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-items:hover,
.partfolio-items:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    cursor: pointer;
}

.partfolio-items:hover .partfolio-cover-text {
    transform: translateY(0);
}


.partfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.partfolio-img {
    max-width: 100%;
    object-fit: cover;
}

.partfolio-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-name-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.partfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.partfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* *------------ FOOTER ----------------* */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.foot-logo-cont {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px
}

.footer-span {
    color: #f4f4fd;
}

.footer-logo:hover,
.footer-logo:focus {
    text-decoration: underline;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.foot-icons-cont {
    margin-right: 120px;
}

.footer-icons-text {
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer-icons-menu {
    display: flex;
    gap: 16px;
}

.footer-icons-items {
    width: 40px;
    height: 40px;
}

.footer-icons-link {
    height: 100%;
    width: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
    fill: #F4F4FD;
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31D0AA;
}